body {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
}

.imgDestination {
    height: 25rem;
    width: 45rem;
}

#boutonTitre {
    border-radius: 2px;
    padding: 2rem;
    color: red;
}

input, select, textarea {
    margin: 0.5rem;
}

body > .imgActivity {
    height: 5rem;
    width: 8rem;
}
