{% extends 'base.html.twig' %}

{% block title %}Hello DetailActivityController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello  Détails ! ✅</h1>

    <br>
    <a href="{{ path('activity') }}"><button>Aller à la liste d'activités</button></a>   
    
    <p>Vous êtes sur la page de l'activité n°{{ activity.id }}, c'est du {{ activity.nom }}</p>
   
</div>
{% endblock %}
