{% extends 'base.html.twig' %}

{% block title %}Hello DetailActivityController!{% endblock %}

{% block body %}


<div class="example-wrapper">

    <br>
    <a href="{{ path('activity') }}"><button>Aller à la liste d'activités</button></a>   
    
    <p>Vous êtes sur la page de l'activité n°{{ activity.id }}, c'est du {{ activity.nom }}</p>
   
</div>
{% endblock %}
