<br>
<nav >

    <a href="{{ path('destinationType' , {'destination': 'soleil'}) }}"> <button class="btn btn-success"><i class="fas fa-umbrella-beach"></i> Soleil</button> </a>

    <a href="{{ path('destinationType' , {'destination': 'montagne'}) }}"> <button class="btn btn-success"><i class="fas fa-mountain"></i> Montagne</button> </a>

    <a href="{{ path('destinationType' , {'destination': 'campagne'}) }}"> <button class="btn btn-success"><i class="fas fa-tree"></i> Campagne</button> </a>

    <br> <br>
</nav>