
<br>
   <h1> Mon<button class=" btn-warning p-0 text-white " id="boutonTitre">Site</button> </h1>
<br>
<img src="{{ asset('images/bbc.jpg') }}" alt="Big black cock" style="height: 250px;">
<br><br>
<nav >
    <a href="{{ path('default') }}"> <button class="btn btn-info">Accueil</button> </a>
    <a href="{{ path('destination') }}"><button class="btn btn-success">Les destinations</button></a>
    <a href="{{ path('sejour') }}"><button class="btn btn-primary">Les séjours</button></a>

    <br> <br>
</nav>