{% extends 'base.html.twig' %}

{% block title %}Hello SejourController!{% endblock %}

{% block body %}

<br>
{% include 'sejour/header.html.twig' %}

<h2>Modifier un séjour</h2>
<br>

{{ form(form)}}

    {% if errors %}
        <ul>
            {% for error in errors %}
                <li>
                    {{error.message}}
                </li>
            {% endfor %}
        </ul>
    {% endif %}


{% endblock %}
